*{
    box-sizing: border-box;
}
header {
    background-image: url("img/aboutBackground.png");
}
.headers-text {
    font-family: 'Roboto Slab', serif;
    color: white;
}
.nav-panel {
    margin: auto;
    padding-top: 30px;
    width: 935px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
}
.Mlogo {
    margin-top: 140px;
    display: block;
    text-align: center;
}
.hello {
    font-size: 35px;
    margin-top: 50px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.025em;
}
.name-intro {
    margin-top: 30px;
    font-weight: 100;
    text-align: center;
    font-size: 66px;
    letter-spacing: 0.025em;
}
.name {
    font-weight: bold;
}
.born {
    margin-top: 40px;
    font-weight: lighter;
    text-align: center;
    font-size: 22px;
}
.social {
    margin-top: 50px;
    display: block;
    text-align: center;
}
.intro {
    width: 775px;
    display: flex;
    margin: auto;
    margin-top: 140px;
    justify-content: space-between;
    padding-bottom: 125px;
}
.intro .item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}
.yellow-text {
    color: #ffd670;
}
.about {
    background-image:url("img/aboutBackground.png");
    padding-bottom: 105px;
}
.about-underscore {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.about-header {
    text-align: center;
    font-weight: Regular;
    letter-spacing: 1px;
    font-size: 35px;
    margin-top: 20px;
}
.about-question {
    text-align: center;
    font-weight: Regular;
    color: #d0c6db;
    font-size: 16px;
    margin-top: 20px;
}
.menInCircle {
    display: block;
    margin: auto;
    padding-top: 150px;
}
.about-flexRow {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    padding-left: 150px;
    padding-right: 150px;
}
.about-introduce {
    display: block;
    white-space: normal;
    width: 450px;
}
.about-introduce > h2 {
    font-size: 18px;
    font-weight: regular;
}
.about-introduce > :nth-child(odd) {
    margin-bottom: 45px;
}
.about-introduce > p {
    font-family: 'Roboto Slab', serif;
    color: #a49eb0;
    font-size: 15px;
    font-weight: regular;
    line-height: 18px;
}
.mySkills > h2 {
    font-size: 18px;
    font-weight: regular;
    margin-bottom: 38px;
}
.mySkills > h3 {
    font-size: 15px;
    font-weight: regular;
    color: #c4c0cf;
    margin-bottom: 19px;
}
.mySkills > h3:last-of-type {
    margin-top: 20px;
}
[class|=progressbars--design] > * {
    border-radius: 5px;
    background-color: #615474;
}
[class|=progressbars--coding] > * {
    border-radius: 5px;
    background-color: #615474;
}
.progressbars__item {
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    background-color: #ffd670;
    margin-bottom: 104px;
}
.progressbar__name {
    color:#ffffff;
}
.progressbar__value {
    color:#87765e;
}
.progressbars--design__photoshop {
    height: 42px;
    width: 515px;
    margin-bottom: 14px;
}
.progressbars--design__illustrator {
    height: 42px;
    width: 515px;
    margin-bottom: 14px;
}
.progressbars--design__illustrator > * {
    width: 75%;
}
.progressbars--design__indesign {
    height: 42px;
    width: 515px;
}
.progressbars--design__indesign > * {
    width: 35%;
}
.progressbars--coding__html {
    height: 42px;
    width: 515px;
    margin-bottom: 14px;
}
.progressbars--coding__html > * {
    width: 80%;
}
.progressbars--coding__css {
    height: 42px;
    width: 515px;
    margin-bottom: 14px;
}
.progressbars--coding__css > * {
    width: 72%;
}
.progressbars--coding__js {
    height: 42px;
    width: 515px;
}
.progressbars--coding__js > * {
    width: 45%;
}
.portfolio {
    background-image: url("img/portfolio--background.png");
}
.portfolio__header {
    padding-top: 98px;
}
.portfolio__header > h2 {
    font-size: 35px;
    font-weight: regular;
    text-align: center;
}
.portfolio__header > h3 {
    font-size: 16px;
    font-weight: regular;
    text-align: center;
    color: #fff0ca;
}
.portfolio__header__white--line {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project > hr {
    width: 480px;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin-left: 0;
}
.portfolio--info--slidebar {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
.project > h2 {
    font-size: 23px;
    color:#ffffff;
    margin-bottom: 29px;
}
.project > h3 {
    font-size: 16px;
    color:#fff1ce;
    margin-bottom: 29px;
}
.project > hr:first {
    margin-bottom: 20px;
}
.project > hr:nth-child(n+1) {
    margin-bottom: 30px;
}
.project > ul {
    list-style: none;
    color:#fff;
    margin-bottom: 28px;
}
.project > p {
    width: 470px;
    font-size: 15px;
    color:#ffffff;
    margin-bottom: 38px;
}
.project li::before {
    content:url("img/portfolio_ul.png");
}
.project li > span, li > a {
    margin-left: 10px;
}
/* General slider styles */
.sim-slider {
    display: block;
    width: 970px;
    height: 680px;
    position: relative;
} 

.sim-slider img {
    width: 100%;
    height: auto;
}
.sim-slider-list {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 1;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;

}

div.sim-slider-arrow-left {
    left: 20px;
    top: 35%;
    display: block;
    background: url("img/картинки/arrow/left-arrow.png") no-repeat;
    background-color: #c6ab6a;
}

div.sim-slider-arrow-right {
    right: 20px;
    top: 35%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
    background-color: #c6ab6a;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}
.portfolio-projects {
    display: flex;
    justify-content: space-between;
    margin-left: 590px;
    margin-right: 590px;
    font-size: 12px;
    margin-bottom: 65px;
}
.portfolio-projects > .item {
    width: max-content;
    height: max-content;
    padding: 15px;
}
.portfolio-projects > .item:hover {
    border: 1px solid white;
}
.portfolio-project-samples {
    margin-left: 150px;
    margin-right: 150px;
}
.portfolio-project-samples .first-row {
    display: flex;
    justify-content: space-between;
}
.portfolio-project-samples .item {
    width: 338px;
    height: 338px;
    position: relative;
    text-align: center;
    background: url("img/portfolioSquare.png");
}
.portfolio-project-samples .item h2 {
    margin-top: 125px;
    font-size: 16px;
    margin-bottom: 25px;
}
.portfolio-project-samples .item p {
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.portfolio-project-samples .item .cross {
    position: absolute;
    top: 222px;
    left: 157px;
}
.portfolio-project-samples .first-row .item:nth-child(3) {
    background:url("img/activeImg.png");
}
.portfolio-project-samples .second-row {
    display: flex;
    justify-content: space-between;
    bottom: 85px;
    margin-left: 195px;
    margin-right: 195px;
}
.blog {
    margin-top: 100px;
    background-color: #fff;
}
.blog > .greyLine  {
    margin-bottom: 20px;
}
.blog > div {
    text-align: center;
}
.blog > h2 {
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    color: #5b6074;
    text-align: center;
    margin-bottom: 20px;
}
.blog > h3 {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: #a5aabe;
    text-align: center;
    margin-bottom: 100px;   
}
.blog-content {
    display: flex;
    margin-left: 448px;
    margin-right: 360px;
    justify-content: space-between;
}

.blog-content article {
    text-align: left;
    width: 670px;   
}

.blog-content .right-sidebar {
    width: 300px;
    text-align: left;
}

.blog-content .right-sidebar h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    margin-bottom: 40px;
    color: #898d9d;
}
.blog-content .right-sidebar ul > li {
    font-size: 13px;
    color: #898d9d;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}
.blog-content .right-sidebar ul:first-of-type {
    margin-bottom: 40px;
}
.blog-content  hr {
    width: 100%; 
    border: none;
    border-top: 1px solid #f8f8f8;
}
.blog-content .right-sidebar form > input {
    border: none;
    line-height:56px;
    background-color:#f8f8f8;
    background-image: url("img/searchIcon.png");
    background-position: top 20px right 10px;
    background-repeat: no-repeat;
    padding-right: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.blog-content article h2 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #373c4f;
    margin-bottom: 30px;
}
.blog-content article h4 {
    font-size: 11px;
    font-family: 'Roboto Slab', serif;
    color: #ccc9d6;
    margin-bottom: 30px;
}
.blog-content .first-article-p {
    margin-bottom: 50px;
}
.blog-content article h4:first {
    margin-bottom: 30px;
}
.blog-content article p {
    line-height: 1.6;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    color: #bfc1c9;
}

.blog-content article .tags {
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
    color: #898d9d;
    margin: 30px 0;
}
.blog-content article img {
    margin-bottom: 30px;
}
.blog-content .comments > h3 {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    color: #898d9d;
    margin-top: 50px;
}
.blog-content .comment .comment__user h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    margin-bottom: 15px;
    color:#ffdb83;
}
.blog-content .comment__user-data__date-reply {
    font-size: 11px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}
.blog-content .comment__user-data__date-reply p {
    color:#c4c0cf;
}
.blog-content .comment__user-data__date-reply button {
    border:none;
    background: none;
    height: max-content;
    color: #ffd670;
}
.blog-content .comment__user-data__date-reply button:focus{
    border:none;
    background:none;
}
.blog-content .comment  .comment__user {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.blog-content .comment .comment__user hr {
    margin-top: 40px;
}

.blog-content .comment .comment__user img {
    margin-right: 20px;
    height: 70px;
    width: 70px;
}
.blog .comment-add-form {
    width: 670px;
    margin-left: 448px;
    margin-right: 360px;
}
.blog .comment-add-form h2{
     font-family: 'Roboto Slab', serif;
     font-size: 15px;
     color:#898d9d;
     margin-bottom: 30px;
     margin-top: 70px;
     text-align: left;
}
.blog .comment-add-form > p {
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    color:#898d9d;
    text-align: left;
    margin-bottom: 40px;
}
.blog .comment-add-form .form-name__email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog .comment-add-form .form-name__email input{
    width: 325px;
    height: 58px;
    font-size: 16px;
    background-color: #f8f8f8;
    border:none;
    border-radius: 5px;
    background-image: url("img/yellowStar.png");
    background-position: top 20px left 120px;
    background-repeat: no-repeat;
}
.blog .comment-add-form .form-name__email input::placeholder,
 textarea::placeholder {
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #cacaca;
}
.blog .comment-add-form  textarea {
    width: 670px;
    height: 205px;
    background-color: #f8f8f8;
    border:none;
    border-radius: 5px;
    background-image: url("img/yellowStar.png");
    background-position: top 20px left 110px;
    background-repeat: no-repeat;
}
