@import './src/about/about.css';
@import './src/header/header.css';
@import './src/menu/menu.css';
@import './node_modules/normalize.css/normalize.css';
@import './src/advantages/advantages.css';

header {
    background-color: #f3f3f3;
}
p {
    font-family: Roboto, serif;
    color: #262f32;
    font-size: 18px;
}
/*mobile small, middle, large*/
@media (max-width: 424px) {
   .about {
       display: block;
   }
   .about__container {
       margin: 0;
       margin-top: 10px;
       min-width: 320px;
   }
}
/*tablet*/
@media (min-width: 424px) and (max-width: 768px) {
    .about {
        display: block;
    }
    .about__container {
        margin: 0;
        margin-top: 10px;
        margin-left: 5px;
        min-width: 320px;
        max-width: 500px;
    }
    .about p {
        margin-left: 10px;
    }
}
/*laptop*/
@media (min-width: 769px) and (max-width:1023px){ 
    /*image*/
    .about > img {
        min-width: 50%;
        height: 50%;
        margin-left: 10px;
        margin-top: 50px;
    }
    .about__container {
        margin-top: 10px;
        min-width: 220px;
        max-width: 500px;
    }
}
/*large laptop*/
@media (min-width: 1024px) and (max-width:1440px) { 
    .about > img {
        max-width: 60%;
    }
    .about__container { 
        max-width: 350px;
    }
}