.about {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}
.about > img {
    max-width: 890px;
}
.about__container {
    margin: 0 50px;
    min-width: 450px;
}